.footer {
    padding: 2.9rem 0 2.6rem 60px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    background-color: $dark;
    color: $white;
    font-size: 18px;

    &__title {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    &__element {
        margin-bottom: 10px;
        position: relative;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    &__svg {
        margin-right: 10px;
    }

}